@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-[2530px] px-3 2xl:px-20 xl:px-20 md:px-14 mx-auto
}

.my-btn {
  background-color: #E5AF4C;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
}

.my-btn:hover {
  background-color: #D49838;
}
.pc{
  color: #E5AF4C;;
}
.my-bg{
  @apply bg-gradient-to-b from-black to-gray-800
}